<main class="management-container">
    <h1><%= title %></h1>
    
    <section class="management-actions">
        <h2>Inventory Management Options</h2>
        <p>Welcome to the vehicle management area. Please choose one of the administration actions below:</p>
        
        <ul class="management-links">
            <li>
                <a href="/vehicles/add-classification" class="btn-action">Add New Classification</a>
            </li>
            <li>
                <a href="/vehicles/add-inventory" class="btn-action">Add New Vehicle to Inventory</a>
            </li>
        </ul>
    </section>
</main>